# 파이썬 완전 첫걸음

## 연산자

In [1]:
3 + 7

10

In [2]:
3 - 7

-4

In [3]:
3 * 7 + 10

31

In [4]:
7 / 3

2.3333333333333335

In [5]:
7 // 3

2

In [6]:
7 % 3

1

## 변수
- 변수는 값(정수, 실수, 문자, 혹은 개발자가 정의한 자료형)을 담을 수 있는 그릇

In [7]:
a = 1
b = 4
a + b

5

In [8]:
c = a + b
print(c)

5

In [9]:
a = 30

In [10]:
print(a)

30

In [11]:
print(a + b)

34

In [12]:
print(a - b)
print(a * b)
print(a / b)

26
120
7.5

In [13]:
c = a * b + c

In [14]:
c

125

In [15]:
c

125

In [16]:
print(a)
print(b)
d = a % b
print(d)

30
4
2

In [17]:
a = 3.2
b = 4.8
a * b

15.36

## 문자열 
- 쌍따옴표, 혹은 따옴표로 감싸면 문자열이라는 표시이다.

In [18]:
name = '이성용'
hello = "안녕하세요"

In [19]:
print(name)

이성용

In [20]:
print(hello)

안녕하세요

- 문자열끼리 더할 수 있다.

In [21]:
print(name + hello)

이성용안녕하세요

- 문자열에 숫자를 곱하면, 그만큼 반복된 문자열이 만들어진다.

In [22]:
print(hello * 3)

안녕하세요안녕하세요안녕하세요

- 같은 자료형끼리만 + 연산이 가능하다
- 숫자와 문자를 더할 수 없다.

In [23]:
print(hello + 3)

TypeError: can only concatenate str (not "int") to str

- 만약 더하고 싶으면 숫자를 문자열로 바꾼 뒤 사용해야 한다. 
- 문자열로 바꾸려면 str() 이라는 함수를 사용한다. (함수는 뒤에서 배웁니다. )

In [24]:
print(hello + str(3))
print(hello + str(3) + name)

안녕하세요3
안녕하세요3이성용

## f-string
- 빈칸에 값을 채울 수 있음
- 빈칸에 들어가는 변수는 모두 문자열로 변형된다.

In [25]:
greet = f'{name}! {hello}!!'
print(greet)
print(a)

이성용! 안녕하세요!!
3.2

In [26]:
greet = f'{name} ~~~~  {a}~~~  {hello}!!'

In [27]:
print(greet)

이성용 ~~~~  3.2~~~  안녕하세요!!

In [28]:
abc = '이성용이 김태곤에게 말했다 "밥먹어"'

In [29]:
abc = f"{name}은 김태곤이 '잘 생겼다'고 생각했다"
print(abc)

이성용은 김태곤이 '잘 생겼다'고 생각했다

In [30]:
print(abc)

이성용은 김태곤이 '잘 생겼다'고 생각했다

In [31]:
abc
a

3.2

In [32]:
print(abc)
print(a)

이성용은 김태곤이 '잘 생겼다'고 생각했다
3.2

In [33]:
greet = f'{name} {a} {hello}' 
print(greet)

이성용 3.2 안녕하세요

# 조건문
- if
- elif (else if)
- else

In [34]:
age = 65

if age < 15:
    print('어린이 입니다.')
elif age < 19:
    print('청소년 입니다.')
elif age >= 65:
    print('천천히 들어가십시오')
else:
    print('어린이가 아닙니다.')

천천히 들어가십시오

# 리스트
- 줄줄이 담는 용도

In [35]:
names = ['이성용', '김태곤', '트럼프']
scores = [88, 97, 95]

In [36]:
names[0]

'이성용'

In [37]:
names[2]

'트럼프'

In [38]:
scores[1]

97

- 리스트로 이루어진 리스트를 만들 수 있다.

In [39]:
name_and_score = [names, scores]
name_and_score

[['이성용', '김태곤', '트럼프'], [88, 97, 95]]

In [40]:
name_and_score[0]

['이성용', '김태곤', '트럼프']

In [41]:
name_and_score[1]

[88, 97, 95]

In [42]:
name_and_score[0][1]

'김태곤'

In [43]:
names

['이성용', '김태곤', '트럼프']

In [44]:
names.append('일론머스크')

In [45]:
names

['이성용', '김태곤', '트럼프', '일론머스크']

In [46]:
scores.append(99)

In [47]:
scores

[88, 97, 95, 99]

# 반복문

In [48]:
for n in names:
    print(n)

이성용
김태곤
트럼프
일론머스크

In [49]:
for i in range(5):
    print(i)

0
1
2
3
4

In [50]:
print('안녕' * 5)

안녕안녕안녕안녕안녕

In [51]:
for i in range(5):
    print('안녕' * i)

안녕
안녕안녕
안녕안녕안녕
안녕안녕안녕안녕

In [52]:
names

['이성용', '김태곤', '트럼프', '일론머스크']

In [53]:
scores

[88, 97, 95, 99]

In [54]:
len(names)

4

In [55]:
names[0]

'이성용'

In [56]:
for i in range(len(names)):
    print(names[i])

이성용
김태곤
트럼프
일론머스크

In [57]:
for i in range(len(names)):
    print(names[i], scores[i])

이성용 88
김태곤 97
트럼프 95
일론머스크 99

In [58]:
for i in range(len(names)):
    if scores[i] > 95:
        print(names[i], '똑똑함')
    else:
        print(names[i], '평범함')

이성용 평범함
김태곤 똑똑함
트럼프 평범함
일론머스크 똑똑함

In [59]:
names.append('정유리')
names

['이성용', '김태곤', '트럼프', '일론머스크', '정유리']

In [60]:
scores

[88, 97, 95, 99]

In [61]:
for i in range(len(names)):
    if scores[i] > 95:
        print(names[i], '똑똑함')
    else:
        print(names[i], '평범함')

이성용 평범함
김태곤 똑똑함
트럼프 평범함
일론머스크 똑똑함

IndexError: list index out of range

개발자 남편이 퇴근길에 아내에게 전화를 한다.

남편: 나 집에 가는 길에 마트 들를건데, 뭐 사가?

아내: 우유 두개 사와

남편: 그리고?

아내: 만약 마트에 달걀이 있으면 여섯개 사와

10분 뒤, 남편은 6개의 우유를 건낸다.

======================================

이 이야기를 들은 나의 생각: 8개를 사와야 하는거 아닌가?

In [62]:
# 주석은 #으로 표시한다. 
# 마트에 배달차가 아침에 상품을 진열한다. 

mart = [] # 비어있는 리스트

for i in range(100):
    mart.append('달걀')

for i in range(30):
    mart.append('우유')
    
print(mart)

['달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '달걀', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유']

In [63]:
# 개발자 남편이 퇴근길에 아내에게 전화를 한다.
# 남편: 나 집에 가는 길에 마트 들를건데, 뭐 사가?
# 아내: 우유 두개 사와

what = '우유'

In [64]:
cart = []

# 우유를 두개 산다. 
mart.remove(what)
mart.remove(what)

cart.append(what)
cart.append(what)

print(cart)

['우유', '우유']

In [65]:
print(len(mart))

128

In [66]:
# 만약 마트에 달걀이 있으면 여섯개 사와 

if '달걀' in mart:
    for i in range(6):
        cart.append(what)
        mart.remove(what)
        
print(cart)

['우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유']

# 함수

![image.png](../imgs/function.png)

In [68]:
def multiply(a, b):
    return a * b

c = multiply(3, 10)
print(c)

30

In [69]:
d = multiply(10, 5)
print(d)

50

In [70]:
def buy(what, mart, cart):
    mart.remove(what)
    cart.append(what)
    
    return mart, cart
    
mart, cart = buy('달걀', mart, cart)
print(cart)

['우유', '우유', '우유', '우유', '우유', '우유', '우유', '우유', '달걀']

a = 3